/*=======================Estilização em comum=============*/

h1 {
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: #0F172A; 
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1:hover { /*Aplicar o estilo quando o cursor do mouse passar por cima*/
    background-color: #10B981;
}

body {
    background-color: #F3EFEB;
    margin: 0;
    padding: 0;
}

table, thead, tbody, th, td {
    border: solid 2.5px #CBD5E1; 
}

.estilo-do-codigo {
    background-color: #F3EFEB;
    color: #ff5722;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;    /*Um pequeno arredondamento nas bordas*/
    margin: 25px 70px;
    
}

.estilo-da-tabela * { /*Aplicando o estilo para todos os descendentes*/
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.titulo-secao {
    color: #FFFFFF; 
    padding: 15px;
    margin: 15px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid black;
    border-radius: 10px;    /*Um pequeno arredondamento nas bordas*/
}

.titulo-artigo {
    color: #FFFFFF;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid rgb(135, 134, 134) ;
}

article {
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin-bottom: 10px;
}

article p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
}

.estilo-de-lista {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.estilo-de-lista > li {
    font-weight: bold;
    margin-bottom: 15px;
}

#secao-css strong {
    color: #059669;
}

/*===========Estilização da Seção de HTML================*/

#secao-html h2 {
    background-color: #4F46E5; 
}

#secao-html h3 {
    background-color: #F97316; 
    color: #FFFFFF;
}

#secao-html article {
    background-color: #FEF3C7; 
    color: #1F2937;
}

#secao-html p::first-letter { /*Pseudoelemento para alterar a primeira letra de cada parágrafo*/
    font-size: 45px;
    color: #F97316;
}

#secao-html .elemento-principal:hover + .elemento-descricao { /*Quando passar o mouse por cima de ".elemento-principal", trocar a cor da letra do elemento adjacente*/
    color: #ff5722; 
}


/*==============Estilização da Seção de CSS============*/
#secao-css h2 {
    background-color: #059669; 
    color: #FFFFFF;
}

#secao-css h3 {
    background-color: #0284C7; 
    color: #FFFFFF;
}

#secao-css article {
    background-color: #E0E7FF; 
    color: #1F2937;
}

#secao-css p::first-letter { /*Pseudoelemento para alterar a primeira letra de cada parágrafo*/
    font-size: 45px;
    color: #059669;
}

#secao-css .elemento-principal:hover + .elemento-descricao { /*Quando passar o mouse por cima de ".elemento-principal", trocar a cor da letra do elemento adjacente*/
    color: #059669; 
}
